<div class="row clearfix">
	<% if task.completed? %>
		<div class="complete">
			<%= link_to complete_project_task_path(@project, task.id), method: :patch do %> 
				<i style="opacity: 0.4" class="fa fa-check" ></i>
			<% end %> 
		</div> 
		<div class="todo_item">
			<p style="opacity: 0.4" ><strike><%= "#{task.content}: Gravidade #{task.gravity} | Urgencia #{task.urgency} | Tendencia #{task.tendency} | Prioridade - #{task.gut}" %> </strike></p>
		</div>
		
		<div class="trash">
			<%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "voce tem certeza?"} do %>
				<i class="fa fa-trash"></i>	
			<% end %>  
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_project_task_path(@project, task.id), method: :patch do %> 
				<i class="fa fa-check" ></i>
			<% end %> 
		</div> 
		<div class="todo_item">
			<p><%= "#{task.content}: Gravidade #{task.gravity} | Urgencia #{task.urgency} | Tendencia #{task.tendency} | Prioridade - #{task.gut}" %></p>
		</div>
		
		<div class="trash">
			<%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "voce tem certeza?"} do %>
				<i class="fa fa-trash"></i>	
			<% end %>  
		</div>
	<% end %> 
</div>